.secure__code {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 15rem;

  @media (max-width: 528px) {
    margin-top: 10rem;
  }

  @media (max-height: 568px) {
    margin-top: 10rem;
  }
}

.secure__code__content {
  text-align: center;

  @media (max-width: 528px) {
    width: 100%;
  }

  h1 {
    border-bottom: 1px solid var(--color-gray);
    margin-bottom: 1rem;
    padding-bottom: 1rem;

    @media (max-width: 728px) {
      font-size: 1.5rem;
    }
  }

  p {
    span {
      font-weight: bold;
    }
  }
}

.secure__code__form {
  display: flex;
  flex-direction: column;

  input {
    margin-top: 2rem;
    padding: 0.5rem;
    font-size: 1.2rem;

    border: 3px solid var(--color-green);
    border-radius: var(--border-radius-sm);
  }

  button {
    margin-top: 2rem;
    padding: 1rem;

    border-radius: var(--border-radius-md);
    background: var(--color-green);
    color: var(--color-white);
  }
}
