@font-face {
  font-family: "NimbusSans-Regular";
  src: local("../fonts/NimbusSanL-Reg.otf"),
    url("../fonts/NimbusSanL-Reg.otf") format("opentype");
}

@font-face {
  font-family: "NimbusSans-Bold";
  src: local("../fonts/NimbusSanL-Bol.otf"),
    url("../fonts/NimbusSanL-Bol.otf") format("opentype");
}
