*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "NimbusSans-Regular", sans-serif;
  overflow-x: hidden;
  background: var(--body-background);
  color: var(--body-color);

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  label,
  a {
    color: var(--body-color);
    font-weight: 400;
  }

  input {
    background: none;
    color: var(--body-color);
  }
}

.container {
  padding: 15px;

  @media (max-width: 1105px) {
    padding: 0;
  }
}

.barchart {
  text-align: center;
  margin-right: 0.5rem;
  border-radius: var(--border-radius-md);
  background: var(--body-block-background);
  padding: 0.2rem;
}
